In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
stat=pd.read_excel("Datasets/Sachin Tendulkar Batting Stats.xlsx")

In [3]:
stat

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Location,Country,Continent,Start Date,Match Number,Result,Mode,Match Type
0,11,92.0,NaN,NaN,0.0,NaN,6.0,LBW,1.0,Sri Lanka,Chandigarh,Chandigarh,India,Asia,1990-11-23,Test # 1156,Won,Home,Test
1,50,158.0,118.0,6.0,0.0,42.37,4.0,Caught,1.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test
2,9,17.0,19.0,2.0,0.0,47.36,4.0,Not Out,4.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test
3,165,361.0,296.0,24.0,1.0,55.74,4.0,Caught,1.0,England,Chennai,Chennai,India,Asia,1993-02-11,Test # 1213,Won,Home,Test
4,78,285.0,213.0,10.0,0.0,36.61,4.0,LBW,2.0,England,Mumbai,Mumbai,India,Asia,1993-02-19,Test # 1214,Won,Home,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14,34.0,15.0,2.0,0.0,93.33,2.0,Run Out,2.0,Australia,Sydney,Sydney,Australia,Australia,2012-02-26,ODI # 3250,Lost,Away,ODI
815,39,45.0,30.0,5.0,0.0,130.00,2.0,LBW,2.0,Sri Lanka,Hobart,Hobart,Australia,Australia,2012-02-28,ODI # 3251,Won,Away,ODI
816,6,25.0,19.0,1.0,0.0,31.57,2.0,Caught,1.0,Sri Lanka,Dhaka,Dhaka,Bangladesh,Asia,2012-03-13,ODI # 3259,Won,Away,ODI
817,114,205.0,147.0,12.0,1.0,77.55,2.0,Caught,1.0,Bangladesh,Dhaka,Dhaka,Bangladesh,Asia,2012-03-16,ODI # 3261,Lost,Away,ODI
818,52,93.0,48.0,5.0,1.0,108.33,2.0,Caught,2.0,Pakistan,Dhaka,Dhaka,Bangladesh,Asia,2012-03-18,ODI # 3263,Won,Away,ODI

In [4]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Runs          819 non-null    object
 1   Mins          736 non-null    float64
 2   BF            789 non-null    float64
 3   4s            789 non-null    float64
 4   6s            790 non-null    float64
 5   SR            788 non-null    float64
 6   Pos           790 non-null    float64
 7   Dismissal     790 non-null    object
 8   Inns          812 non-null    float64
 9   Opposition    819 non-null    object
 10  Ground        819 non-null    object
 11  Location      819 non-null    object
 12  Country       819 non-null    object
 13  Continent     819 non-null    object
 14  Start Date    819 non-null    datetime64[ns]
 15  Match Number  819 non-null    object
 16  Result        819 non-null    object
 17  Mode          819 non-null    object
 18  Match Type    819 non-null    object
dtypes: datetime64[ns](1), float64(7), object(11)
memory usage: 121.7+ KB

In [5]:
stat.describe()

,Mins,BF,4s,6s,SR,Pos,Inns
count,736.000000,789.000000,789.000000,790.000000,788.000000,790.000000,812.000000
mean,96.448370,65.008872,5.206591,0.336709,64.970914,3.226582,1.895320
std,96.625218,67.590257,5.592477,0.850285,33.591631,1.304395,0.918438
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,26.000000,17.000000,1.000000,0.000000,43.862500,2.000000,1.000000
50%,67.500000,42.000000,3.000000,0.000000,63.165000,4.000000,2.000000
75%,132.250000,91.000000,8.000000,0.000000,84.682500,4.000000,2.000000
max,613.000000,436.000000,35.000000,7.000000,196.550000,7.000000,4.000000

In [6]:
stat[stat["Runs"]=="DNB"].index

Int64Index([ 29,  39,  66,  85,  91, 109, 232, 240, 250, 267, 277, 302, 307,
            309, 311, 321, 341, 366, 388, 411, 631, 654],
           dtype='int64')

In [7]:
stat.drop([ 29,  39,  66,  85,  91, 109, 232, 240, 250, 267, 277, 302, 307,
            309, 311, 321, 341, 366, 388, 411, 631, 654],inplace=True)

In [8]:
stat["Runs"].value_counts()

0      35
1      32
2      23
8      23
4      21
       ..
134     1
136     1
137     1
138     1
248     1
Name: Runs, Length: 158, dtype: int64

In [9]:
stat.loc[stat["Runs"]=="13*","Runs"]=13

In [10]:
stat[stat["Runs"]=="TDNB"].index

Int64Index([251, 507, 516, 527, 550, 734, 785], dtype='int64')

In [11]:
stat.drop([251, 507, 516, 527, 550, 734, 785],inplace=True)

In [12]:
stat["Runs"]=stat["Runs"].astype(int)

In [13]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790 entries, 0 to 818
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Runs          790 non-null    int32
 1   Mins          736 non-null    float64
 2   BF            789 non-null    float64
 3   4s            789 non-null    float64
 4   6s            790 non-null    float64
 5   SR            788 non-null    float64
 6   Pos           790 non-null    float64
 7   Dismissal     790 non-null    object
 8   Inns          790 non-null    float64
 9   Opposition    790 non-null    object
 10  Ground        790 non-null    object
 11  Location      790 non-null    object
 12  Country       790 non-null    object
 13  Continent     790 non-null    object
 14  Start Date    790 non-null    datetime64[ns]
 15  Match Number  790 non-null    object
 16  Result        790 non-null    object
 17  Mode          790 non-null    object
 18  Match Type    790 non-null    object
dtypes: datetime64[ns](1), float64(7), int32(1), object(10)
memory usage: 120.4+ KB

In [14]:
stat["Mins"].value_counts()

10.0     14
25.0     13
17.0     10
33.0     10
13.0      9
         ..
100.0     1
176.0     1
112.0     1
134.0     1
238.0     1
Name: Mins, Length: 246, dtype: int64

In [15]:
stat["Mins"].isnull().sum()

54

In [16]:
stat.drop("Mins",axis=1,inplace=True)

In [17]:
stat.head(3)

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Location,Country,Continent,Start Date,Match Number,Result,Mode,Match Type
0,11,NaN,NaN,0.0,NaN,6.0,LBW,1.0,Sri Lanka,Chandigarh,Chandigarh,India,Asia,1990-11-23,Test # 1156,Won,Home,Test
1,50,118.0,6.0,0.0,42.37,4.0,Caught,1.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test
2,9,19.0,2.0,0.0,47.36,4.0,Not Out,4.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test

### we can find ball faced by this formula

BF=100*Runs/SR

SR as two SR (TEST or ODI)

In [18]:
strikerate=stat.groupby("Match Type")["SR"].mean()

In [19]:
strikerate

Match Type
ODI     74.584093
Test    52.038899
Name: SR, dtype: float64

In [20]:
#stat.loc[(stat["SR"]==np.nan)&(stat["Match Type"]=="Test"),"SR"]=52.038899

In [21]:
#stat.loc[(stat["SR"]==np.nan)&(stat["Match Type"]=="ODI"),"SR"]=74.584093

In [22]:
stat[stat["SR"].isnull()]

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Location,Country,Continent,Start Date,Match Number,Result,Mode,Match Type
0,11,NaN,NaN,0.0,NaN,6.0,LBW,1.0,Sri Lanka,Chandigarh,Chandigarh,India,Asia,1990-11-23,Test # 1156,Won,Home,Test
14,0,0.0,0.0,0.0,NaN,4.0,Not Out,4.0,New Zealand,Bengaluru,Bengaluru,India,Asia,1995-10-18,Test # 1308,Won,Home,Test

In [23]:
stat.loc[stat["SR"].isnull(),"SR"]=52.038899

In [24]:
stat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Location,Country,Continent,Start Date,Match Number,Result,Mode,Match Type
0,11,NaN,NaN,0.0,52.038899,6.0,LBW,1.0,Sri Lanka,Chandigarh,Chandigarh,India,Asia,1990-11-23,Test # 1156,Won,Home,Test
1,50,118.0,6.0,0.0,42.370000,4.0,Caught,1.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test
2,9,19.0,2.0,0.0,47.360000,4.0,Not Out,4.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test
3,165,296.0,24.0,1.0,55.740000,4.0,Caught,1.0,England,Chennai,Chennai,India,Asia,1993-02-11,Test # 1213,Won,Home,Test
4,78,213.0,10.0,0.0,36.610000,4.0,LBW,2.0,England,Mumbai,Mumbai,India,Asia,1993-02-19,Test # 1214,Won,Home,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14,15.0,2.0,0.0,93.330000,2.0,Run Out,2.0,Australia,Sydney,Sydney,Australia,Australia,2012-02-26,ODI # 3250,Lost,Away,ODI
815,39,30.0,5.0,0.0,130.000000,2.0,LBW,2.0,Sri Lanka,Hobart,Hobart,Australia,Australia,2012-02-28,ODI # 3251,Won,Away,ODI
816,6,19.0,1.0,0.0,31.570000,2.0,Caught,1.0,Sri Lanka,Dhaka,Dhaka,Bangladesh,Asia,2012-03-13,ODI # 3259,Won,Away,ODI
817,114,147.0,12.0,1.0,77.550000,2.0,Caught,1.0,Bangladesh,Dhaka,Dhaka,Bangladesh,Asia,2012-03-16,ODI # 3261,Lost,Away,ODI
818,52,48.0,5.0,1.0,108.330000,2.0,Caught,2.0,Pakistan,Dhaka,Dhaka,Bangladesh,Asia,2012-03-18,ODI # 3263,Won,Away,ODI

In [25]:
def ball(x): 
    if x["SR"]==0.0:
        return x["BF"]
    x["BF"]=100*x["Runs"]/x["SR"]
    return int(x["BF"])

In [26]:
stat["BF"]=stat.apply(ball,axis=1)

In [27]:
stat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Location,Country,Continent,Start Date,Match Number,Result,Mode,Match Type
0,11,21.0,NaN,0.0,52.038899,6.0,LBW,1.0,Sri Lanka,Chandigarh,Chandigarh,India,Asia,1990-11-23,Test # 1156,Won,Home,Test
1,50,118.0,6.0,0.0,42.370000,4.0,Caught,1.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test
2,9,19.0,2.0,0.0,47.360000,4.0,Not Out,4.0,England,Kolkata,Kolkata,India,Asia,1993-01-29,Test # 1211,Won,Home,Test
3,165,296.0,24.0,1.0,55.740000,4.0,Caught,1.0,England,Chennai,Chennai,India,Asia,1993-02-11,Test # 1213,Won,Home,Test
4,78,213.0,10.0,0.0,36.610000,4.0,LBW,2.0,England,Mumbai,Mumbai,India,Asia,1993-02-19,Test # 1214,Won,Home,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14,15.0,2.0,0.0,93.330000,2.0,Run Out,2.0,Australia,Sydney,Sydney,Australia,Australia,2012-02-26,ODI # 3250,Lost,Away,ODI
815,39,30.0,5.0,0.0,130.000000,2.0,LBW,2.0,Sri Lanka,Hobart,Hobart,Australia,Australia,2012-02-28,ODI # 3251,Won,Away,ODI
816,6,19.0,1.0,0.0,31.570000,2.0,Caught,1.0,Sri Lanka,Dhaka,Dhaka,Bangladesh,Asia,2012-03-13,ODI # 3259,Won,Away,ODI
817,114,147.0,12.0,1.0,77.550000,2.0,Caught,1.0,Bangladesh,Dhaka,Dhaka,Bangladesh,Asia,2012-03-16,ODI # 3261,Lost,Away,ODI
818,52,48.0,5.0,1.0,108.330000,2.0,Caught,2.0,Pakistan,Dhaka,Dhaka,Bangladesh,Asia,2012-03-18,ODI # 3263,Won,Away,ODI

In [28]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790 entries, 0 to 818
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Runs          790 non-null    int32
 1   BF            790 non-null    float64
 2   4s            789 non-null    float64
 3   6s            790 non-null    float64
 4   SR            790 non-null    float64
 5   Pos           790 non-null    float64
 6   Dismissal     790 non-null    object
 7   Inns          790 non-null    float64
 8   Opposition    790 non-null    object
 9   Ground        790 non-null    object
 10  Location      790 non-null    object
 11  Country       790 non-null    object
 12  Continent     790 non-null    object
 13  Start Date    790 non-null    datetime64[ns]
 14  Match Number  790 non-null    object
 15  Result        790 non-null    object
 16  Mode          790 non-null    object
 17  Match Type    790 non-null    object
dtypes: datetime64[ns](1), float64(6), int32(1), object(10)
memory usage: 114.2+ KB

In [29]:
stat=stat.fillna(0)

In [30]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790 entries, 0 to 818
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Runs          790 non-null    int32
 1   BF            790 non-null    float64
 2   4s            790 non-null    float64
 3   6s            790 non-null    float64
 4   SR            790 non-null    float64
 5   Pos           790 non-null    float64
 6   Dismissal     790 non-null    object
 7   Inns          790 non-null    float64
 8   Opposition    790 non-null    object
 9   Ground        790 non-null    object
 10  Location      790 non-null    object
 11  Country       790 non-null    object
 12  Continent     790 non-null    object
 13  Start Date    790 non-null    datetime64[ns]
 14  Match Number  790 non-null    object
 15  Result        790 non-null    object
 16  Mode          790 non-null    object
 17  Match Type    790 non-null    object
dtypes: datetime64[ns](1), float64(6), int32(1), object(10)
memory usage: 114.2+ KB

In [31]:
#stat.dropna(inplace=True) we can use it as no of null values are very less

In [32]:
stat["Dismissal"].value_counts()

Caught             427
Bowled             122
LBW                102
Not Out             73
Run Out             43
Stumped             12
lbw                  3
caught               3
bowled               1
Retired Not Out      1
Hit Wicket           1
run out              1
not out              1
Name: Dismissal, dtype: int64

In [33]:
def change_method(x): 
    d={"lbw":"LBW","caught":"Caught","bowled":"Bowled","run out":"Run Out","not out":"Not Out","Retired Not Out":"Not Out"}
    if x in d.keys():
        return d[x]
    else:
        return x

In [34]:
stat["Dismissal"]=stat["Dismissal"].apply(change_method)

In [35]:
stat["Dismissal"].value_counts()

Caught        430
Bowled        123
LBW           105
Not Out        75
Run Out        44
Stumped        12
Hit Wicket      1
Name: Dismissal, dtype: int64

In [36]:
stat["Result"].value_counts()

Won          353
Lost         198
Loss         114
Drawn        104
No Result     16
Tied           5
Name: Result, dtype: int64

In [37]:
def change_result(x): 
    d={"Loss":"Lost"}
    if x in d.keys():
        return d[x]
    else:
        return x

In [38]:
stat["Result"]=stat["Result"].apply(change_result)

In [39]:
stat["Result"].value_counts()

Won          353
Lost         312
Drawn        104
No Result     16
Tied           5
Name: Result, dtype: int64

In [40]:
stat["Opposition"].value_counts()

Australia       151
Sri Lanka       116
South Africa    102
Pakistan         94
England          90
New Zealand      80
West Indies      73
Zimbabwe         47
Bangladesh       20
Kenya             9
Ireland           2
Netherlands       2
U.A.E.            2
Namibia           1
Bermuda           1
Name: Opposition, dtype: int64

In [41]:
stat["Ground"].value_counts()

Sharjah             42
Kolkata             34
Mumbai              31
Delhi               29
Bengaluru           27
                    ..
Benoni               1
Hyderabad (Sind)     1
Lucknow              1
Taupo                1
Kingstown            1
Name: Ground, Length: 96, dtype: int64

In [42]:
stat["Country"].value_counts()

India                  322
Australia               84
South Africa            66
Sri Lanka               60
England                 56
UAE                     42
New Zealand             40
Pakistan                26
Bangladesh              25
Zimbabwe                18
Canada                  11
Trinidad and Tobago      9
Barbadose                6
Singapore                5
Jamaica                  4
Malaysia                 4
Kenya                    4
Ireland                  4
Guyana                   2
Saint Vincent            1
Antigua                  1
Name: Country, dtype: int64

In [43]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790 entries, 0 to 818
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Runs          790 non-null    int32
 1   BF            790 non-null    float64
 2   4s            790 non-null    float64
 3   6s            790 non-null    float64
 4   SR            790 non-null    float64
 5   Pos           790 non-null    float64
 6   Dismissal     790 non-null    object
 7   Inns          790 non-null    float64
 8   Opposition    790 non-null    object
 9   Ground        790 non-null    object
 10  Location      790 non-null    object
 11  Country       790 non-null    object
 12  Continent     790 non-null    object
 13  Start Date    790 non-null    datetime64[ns]
 14  Match Number  790 non-null    object
 15  Result        790 non-null    object
 16  Mode          790 non-null    object
 17  Match Type    790 non-null    object
dtypes: datetime64[ns](1), float64(6), int32(1), object(10)
memory usage: 114.2+ KB

In [44]:
stat.drop(["Location","Continent","Match Number"],axis=1,inplace=True)

In [45]:
stat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790 entries, 0 to 818
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Runs        790 non-null    int32
 1   BF          790 non-null    float64
 2   4s          790 non-null    float64
 3   6s          790 non-null    float64
 4   SR          790 non-null    float64
 5   Pos         790 non-null    float64
 6   Dismissal   790 non-null    object
 7   Inns        790 non-null    float64
 8   Opposition  790 non-null    object
 9   Ground      790 non-null    object
 10  Country     790 non-null    object
 11  Start Date  790 non-null    datetime64[ns]
 12  Result      790 non-null    object
 13  Mode        790 non-null    object
 14  Match Type  790 non-null    object
dtypes: datetime64[ns](1), float64(6), int32(1), object(7)
memory usage: 95.7+ KB

In [46]:
def out(x):
    if x["Dismissal"]=="Not Out":
        return 0
    return 1
stat["Out"]=stat.apply(out,axis=1)

In [47]:
stat["Out"].value_counts()

1    715
0     75
Name: Out, dtype: int64

In [48]:
stat["Start Date"]=stat["Start Date"].astype(str)

In [49]:
stat["Start Date"]=stat["Start Date"].apply(lambda x:x[:4])

In [50]:
stat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Country,Start Date,Result,Mode,Match Type,Out
0,11,21.0,0.0,0.0,52.038899,6.0,LBW,1.0,Sri Lanka,Chandigarh,India,1990,Won,Home,Test,1
1,50,118.0,6.0,0.0,42.370000,4.0,Caught,1.0,England,Kolkata,India,1993,Won,Home,Test,1
2,9,19.0,2.0,0.0,47.360000,4.0,Not Out,4.0,England,Kolkata,India,1993,Won,Home,Test,0
3,165,296.0,24.0,1.0,55.740000,4.0,Caught,1.0,England,Chennai,India,1993,Won,Home,Test,1
4,78,213.0,10.0,0.0,36.610000,4.0,LBW,2.0,England,Mumbai,India,1993,Won,Home,Test,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14,15.0,2.0,0.0,93.330000,2.0,Run Out,2.0,Australia,Sydney,Australia,2012,Lost,Away,ODI,1
815,39,30.0,5.0,0.0,130.000000,2.0,LBW,2.0,Sri Lanka,Hobart,Australia,2012,Won,Away,ODI,1
816,6,19.0,1.0,0.0,31.570000,2.0,Caught,1.0,Sri Lanka,Dhaka,Bangladesh,2012,Won,Away,ODI,1
817,114,147.0,12.0,1.0,77.550000,2.0,Caught,1.0,Bangladesh,Dhaka,Bangladesh,2012,Lost,Away,ODI,1
818,52,48.0,5.0,1.0,108.330000,2.0,Caught,2.0,Pakistan,Dhaka,Bangladesh,2012,Won,Away,ODI,1

In [51]:
stat[stat["Runs"]>=100].groupby("Opposition")["Runs"].count()

Opposition
Australia       20
Bangladesh       6
England          9
Kenya            4
Namibia          1
New Zealand      9
Pakistan         7
South Africa    12
Sri Lanka       17
West Indies      7
Zimbabwe         8
Name: Runs, dtype: int64

In [52]:
stat[stat["Runs"]>=100].groupby(["Match Type","Inns"],sort=True)["Runs"].count()

Match Type  Inns
ODI         1.0     32
            2.0     17
Test        1.0     20
            2.0     18
            3.0     10
            4.0      3
Name: Runs, dtype: int64

In [53]:
stat[stat["Runs"]>=100].groupby(["Opposition","Mode"])["Runs"].count()

Opposition    Mode
Australia     Away    11
              Home     9
Bangladesh    Away     6
England       Away     5
              Home     4
Kenya         Away     2
              Home     2
Namibia       Away     1
New Zealand   Away     3
              Home     6
Pakistan      Away     5
              Home     2
South Africa  Away     6
              Home     6
Sri Lanka     Away    12
              Home     5
West Indies   Away     3
              Home     4
Zimbabwe      Away     4
              Home     4
Name: Runs, dtype: int64

In [54]:
stat[stat["Runs"]>=100].groupby("Out")["Runs"].count()

Out
0    31
1    69
Name: Runs, dtype: int64

In [55]:
stat[stat["Runs"]>=100].groupby(["Start Date","Match Type"])["Runs"].count()

Start Date  Match Type
1990        Test          1
1992        Test          3
1993        Test          2
1994        ODI           3
            Test          2
1995        ODI           1
1996        ODI           6
            Test          2
1997        ODI           2
            Test          4
1998        ODI           9
            Test          3
1999        ODI           3
            Test          5
2000        ODI           3
            Test          2
2001        ODI           4
            Test          3
2002        ODI           2
            Test          4
2003        ODI           3
2004        ODI           1
            Test          3
2005        ODI           1
            Test          1
2006        ODI           2
2007        ODI           1
            Test          2
2008        ODI           1
            Test          4
2009        ODI           3
            Test          2
2010        ODI           1
            Test          7
2011        ODI           2
            Test          1
2012        ODI           1
Name: Runs, dtype: int64

In [56]:
stat[stat["Runs"]>=100].groupby("Pos")["Runs"].count()

Pos
1.0     2
2.0    43
4.0    48
5.0     5
6.0     2
Name: Runs, dtype: int64

In [57]:
stat[stat["Runs"]>=100].groupby(["Mode","Match Type"])["Runs"].count()

Mode  Match Type
Away  ODI           29
      Test          29
Home  ODI           20
      Test          22
Name: Runs, dtype: int64

In [58]:
stat.groupby(["Opposition","Mode","Match Type"])["Runs"].max()

Opposition    Mode  Match Type
Australia     Away  ODI           143
                    Test          241
              Home  ODI           175
                    Test          214
Bangladesh    Away  ODI           114
                    Test          248
              Home  ODI            33
Bermuda       Away  ODI            57
England       Away  ODI           105
                    Test          193
              Home  ODI           120
                    Test          165
Ireland       Away  ODI             4
              Home  ODI            38
Kenya         Away  ODI           146
              Home  ODI           127
Namibia       Away  ODI           152
Netherlands   Away  ODI            52
              Home  ODI            27
New Zealand   Away  ODI           163
                    Test          160
              Home  ODI           186
                    Test          217
Pakistan      Away  ODI           141
                    Test          194
              Home  ODI           123
                    Test          136
South Africa  Away  ODI           101
                    Test          169
              Home  ODI           200
                    Test          106
Sri Lanka     Away  ODI           138
                    Test          203
              Home  ODI           137
                    Test          148
U.A.E.        Away  ODI            63
West Indies   Away  ODI           141
                    Test          117
              Home  ODI           105
                    Test          179
Zimbabwe      Away  ODI           127
                    Test           74
              Home  ODI           146
                    Test          201
Name: Runs, dtype: int32

In [59]:
stat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Country,Start Date,Result,Mode,Match Type,Out
0,11,21.0,0.0,0.0,52.038899,6.0,LBW,1.0,Sri Lanka,Chandigarh,India,1990,Won,Home,Test,1
1,50,118.0,6.0,0.0,42.370000,4.0,Caught,1.0,England,Kolkata,India,1993,Won,Home,Test,1
2,9,19.0,2.0,0.0,47.360000,4.0,Not Out,4.0,England,Kolkata,India,1993,Won,Home,Test,0
3,165,296.0,24.0,1.0,55.740000,4.0,Caught,1.0,England,Chennai,India,1993,Won,Home,Test,1
4,78,213.0,10.0,0.0,36.610000,4.0,LBW,2.0,England,Mumbai,India,1993,Won,Home,Test,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14,15.0,2.0,0.0,93.330000,2.0,Run Out,2.0,Australia,Sydney,Australia,2012,Lost,Away,ODI,1
815,39,30.0,5.0,0.0,130.000000,2.0,LBW,2.0,Sri Lanka,Hobart,Australia,2012,Won,Away,ODI,1
816,6,19.0,1.0,0.0,31.570000,2.0,Caught,1.0,Sri Lanka,Dhaka,Bangladesh,2012,Won,Away,ODI,1
817,114,147.0,12.0,1.0,77.550000,2.0,Caught,1.0,Bangladesh,Dhaka,Bangladesh,2012,Lost,Away,ODI,1
818,52,48.0,5.0,1.0,108.330000,2.0,Caught,2.0,Pakistan,Dhaka,Bangladesh,2012,Won,Away,ODI,1

In [60]:
stat.groupby(["Opposition","Match Type"])["BF","Runs"].max()

C:\Users\Guppi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                            BF  Runs
Opposition   Match Type
Australia    ODI         141.0   175
             Test        436.0   241
Bangladesh   ODI         147.0   114
             Test        379.0   248
Bermuda      ODI          29.0    57
England      ODI         115.0   120
             Test        360.0   193
Ireland      ODI          56.0    38
Kenya        ODI         138.0   146
Namibia      ODI         151.0   152
Netherlands  ODI          72.0    52
New Zealand  ODI         150.0   186
             Test        344.0   217
Pakistan     ODI         140.0   141
             Test        348.0   194
South Africa ODI         147.0   200
             Test        314.0   169
Sri Lanka    ODI         141.0   138
             Test        347.0   203
U.A.E.       ODI          77.0    63
West Indies  ODI         148.0   141
             Test        322.0   179
Zimbabwe     ODI         153.0   146
             Test        316.0   201

In [61]:
stat.groupby(["Opposition","Match Type"])["BF","Runs","4s","6s"].max()

C:\Users\Guppi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                            BF  Runs    4s   6s
Opposition   Match Type
Australia    ODI         141.0   175  19.0  7.0
             Test        436.0   241  33.0  4.0
Bangladesh   ODI         147.0   114  12.0  2.0
             Test        379.0   248  35.0  2.0
Bermuda      ODI          29.0    57   2.0  4.0
England      ODI         115.0   120  16.0  5.0
             Test        360.0   193  26.0  3.0
Ireland      ODI          56.0    38   4.0  0.0
Kenya        ODI         138.0   146  17.0  3.0
Namibia      ODI         151.0   152  18.0  0.0
Netherlands  ODI          72.0    52   7.0  0.0
New Zealand  ODI         150.0   186  20.0  5.0
             Test        344.0   217  29.0  2.0
Pakistan     ODI         140.0   141  17.0  5.0
             Test        348.0   194  21.0  0.0
South Africa ODI         147.0   200  25.0  4.0
             Test        314.0   169  26.0  2.0
Sri Lanka    ODI         141.0   138  15.0  5.0
             Test        347.0   203  23.0  3.0
U.A.E.       ODI          77.0    63   7.0  1.0
West Indies  ODI         148.0   141  13.0  5.0
             Test        322.0   179  26.0  2.0
Zimbabwe     ODI         153.0   146  15.0  6.0
             Test        316.0   201  27.0  1.0

In [62]:
stat[["4s","6s"]].sum()

4s    4108.0
6s     266.0
dtype: float64

In [63]:
stat.groupby(["Start Date","Match Type"])["SR"].mean()

Start Date  Match Type
1989        ODI             0.000000
            Test           50.583333
1990        ODI            86.183000
            Test           45.523890
1991        ODI            63.507143
            Test           42.170000
1992        ODI            65.875500
            Test           42.880000
1993        ODI            68.508235
            Test           48.521111
1994        ODI            77.534800
            Test           58.729091
1995        ODI            92.589167
            Test           59.032225
1996        ODI            72.410000
            Test           42.767333
1997        ODI            73.166667
            Test           49.640588
1998        ODI            92.400606
            Test           69.671111
1999        ODI            61.608182
            Test           55.144737
2000        ODI            74.189412
            Test           65.027000
2001        ODI            82.256875
            Test           55.496667
2002        ODI            76.886842
            Test           47.017308
2003        ODI            75.083333
            Test           27.132222
2004        ODI            72.330000
            Test           44.627333
2005        ODI            57.504375
            Test           45.927000
2006        ODI            61.428750
            Test           51.570833
2007        ODI            76.860313
            Test           51.461250
2008        ODI            70.308333
            Test           58.024000
2009        ODI            78.654000
            Test           64.424444
2010        ODI           108.025000
            Test           56.223478
2011        ODI            86.359091
            Test           49.532941
2012        ODI            73.345000
            Test           50.668000
2013        Test           61.034444
Name: SR, dtype: float64

In [64]:
stat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Country,Start Date,Result,Mode,Match Type,Out
0,11,21.0,0.0,0.0,52.038899,6.0,LBW,1.0,Sri Lanka,Chandigarh,India,1990,Won,Home,Test,1
1,50,118.0,6.0,0.0,42.370000,4.0,Caught,1.0,England,Kolkata,India,1993,Won,Home,Test,1
2,9,19.0,2.0,0.0,47.360000,4.0,Not Out,4.0,England,Kolkata,India,1993,Won,Home,Test,0
3,165,296.0,24.0,1.0,55.740000,4.0,Caught,1.0,England,Chennai,India,1993,Won,Home,Test,1
4,78,213.0,10.0,0.0,36.610000,4.0,LBW,2.0,England,Mumbai,India,1993,Won,Home,Test,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14,15.0,2.0,0.0,93.330000,2.0,Run Out,2.0,Australia,Sydney,Australia,2012,Lost,Away,ODI,1
815,39,30.0,5.0,0.0,130.000000,2.0,LBW,2.0,Sri Lanka,Hobart,Australia,2012,Won,Away,ODI,1
816,6,19.0,1.0,0.0,31.570000,2.0,Caught,1.0,Sri Lanka,Dhaka,Bangladesh,2012,Won,Away,ODI,1
817,114,147.0,12.0,1.0,77.550000,2.0,Caught,1.0,Bangladesh,Dhaka,Bangladesh,2012,Lost,Away,ODI,1
818,52,48.0,5.0,1.0,108.330000,2.0,Caught,2.0,Pakistan,Dhaka,Bangladesh,2012,Won,Away,ODI,1

In [65]:
avg=stat[["Pos","Runs","Out","Match Type","Start Date","Result","Mode"]]

In [66]:
run=avg.groupby(["Match Type","Pos"])["Runs"].sum()
run

Match Type  Pos
ODI         1.0     1625
            2.0    13685
            3.0       92
            4.0     2059
            5.0      797
            6.0      148
            7.0       20
Test        2.0       15
            4.0    13768
            5.0     1552
            6.0      745
            7.0      117
Name: Runs, dtype: int32

In [67]:
out=avg.groupby(["Match Type","Pos"])["Out"].sum()
out

Match Type  Pos
ODI         1.0     45
            2.0    272
            3.0      9
            4.0     53
            5.0     28
            6.0      3
            7.0      1
Test        2.0      1
            4.0    256
            5.0     26
            6.0     17
            7.0      4
Name: Out, dtype: int64

In [68]:
average=run/out
average

Match Type  Pos
ODI         1.0    36.111111
            2.0    50.312500
            3.0    10.222222
            4.0    38.849057
            5.0    28.464286
            6.0    49.333333
            7.0    20.000000
Test        2.0    15.000000
            4.0    53.781250
            5.0    59.692308
            6.0    43.823529
            7.0    29.250000
dtype: float64

In [69]:
avg.groupby(["Match Type","Pos"])["Runs"].mean() # if we don't consider no. of notouts

Match Type  Pos
ODI         1.0    34.574468
            2.0    46.706485
            3.0     9.200000
            4.0    33.754098
            5.0    22.138889
            6.0    37.000000
            7.0    20.000000
Test        2.0    15.000000
            4.0    48.478873
            5.0    53.517241
            6.0    37.250000
            7.0    29.250000
Name: Runs, dtype: float64

In [70]:
stat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Country,Start Date,Result,Mode,Match Type,Out
0,11,21.0,0.0,0.0,52.038899,6.0,LBW,1.0,Sri Lanka,Chandigarh,India,1990,Won,Home,Test,1
1,50,118.0,6.0,0.0,42.370000,4.0,Caught,1.0,England,Kolkata,India,1993,Won,Home,Test,1
2,9,19.0,2.0,0.0,47.360000,4.0,Not Out,4.0,England,Kolkata,India,1993,Won,Home,Test,0
3,165,296.0,24.0,1.0,55.740000,4.0,Caught,1.0,England,Chennai,India,1993,Won,Home,Test,1
4,78,213.0,10.0,0.0,36.610000,4.0,LBW,2.0,England,Mumbai,India,1993,Won,Home,Test,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,14,15.0,2.0,0.0,93.330000,2.0,Run Out,2.0,Australia,Sydney,Australia,2012,Lost,Away,ODI,1
815,39,30.0,5.0,0.0,130.000000,2.0,LBW,2.0,Sri Lanka,Hobart,Australia,2012,Won,Away,ODI,1
816,6,19.0,1.0,0.0,31.570000,2.0,Caught,1.0,Sri Lanka,Dhaka,Bangladesh,2012,Won,Away,ODI,1
817,114,147.0,12.0,1.0,77.550000,2.0,Caught,1.0,Bangladesh,Dhaka,Bangladesh,2012,Lost,Away,ODI,1
818,52,48.0,5.0,1.0,108.330000,2.0,Caught,2.0,Pakistan,Dhaka,Bangladesh,2012,Won,Away,ODI,1

In [71]:
stat.groupby(["Match Type","Dismissal"])["Out"].count()

Match Type  Dismissal
ODI         Bowled         68
            Caught        258
            Hit Wicket      1
            LBW            39
            Not Out        41
            Run Out        34
            Stumped        11
Test        Bowled         55
            Caught        172
            LBW            66
            Not Out        34
            Run Out        10
            Stumped         1
Name: Out, dtype: int64

In [72]:
cen=stat[stat["Runs"]>=100].groupby("Ground",sort=True)["Runs"].count()

In [73]:
cen.sort_values(ascending=False,inplace=True)

In [74]:
cen.head(10)

Ground
Sharjah          7
Nagpur           6
Colombo (RPS)    5
Colombo (SSC)    5
Dhaka            5
Chennai          5
Sydney           4
Ahmedabad        4
Bengaluru        4
Kolkata          3
Name: Runs, dtype: int64

In [75]:
run=avg.groupby(["Match Type","Start Date"])["Runs"].sum()
out=avg.groupby(["Match Type","Start Date"])["Out"].sum()
average=run/out
average

Match Type  Start Date
ODI         1989            0.000000
            1990           23.900000
            1991           34.750000
            1992           39.111111
            1993           24.538462
            1994           47.347826
            1995           40.363636
            1996           53.700000
            1997           30.636364
            1998           65.310345
            1999           42.150000
            2000           39.058824
            2001           69.538462
            2002           52.928571
            2003           57.050000
            2004           40.600000
            2005           27.466667
            2006           44.857143
            2007           47.500000
            2008           41.818182
            2009           54.000000
            2010          204.000000
            2011           46.636364
            2012           31.500000
Test        1989           35.833333
            1990           41.444444
            1991           19.500000
            1992           41.900000
            1993           91.428571
            1994           70.000000
            1995           29.000000
            1996           41.533333
            1997           62.500000
            1998           80.875000
            1999           68.000000
            2000           63.888889
            2001           62.687500
            2002           55.680000
            2003           17.000000
            2004           91.500000
            2005           44.400000
            2006           24.272727
            2007           55.428571
            2008           48.318182
            2009           67.625000
            2010           78.100000
            2011           47.250000
            2012           23.800000
            2013           34.500000
dtype: float64

In [76]:
run=avg.groupby(["Match Type","Result"])["Runs"].sum()
out=avg.groupby(["Match Type","Result"])["Out"].sum()
average=run/out
average

Match Type  Result
ODI         Lost         33.257576
            No Result    47.090909
            Tied         33.200000
            Won          56.634518
Test        Drawn        65.411111
            Lost         37.163636
            Won          59.826923
dtype: float64

In [77]:
run=avg.groupby(["Match Type","Mode","Result"])["Runs"].sum()
out=avg.groupby(["Match Type","Mode","Result"])["Out"].sum()
average=run/out
average

Match Type  Mode  Result
ODI         Away  Lost         29.884058
                  No Result    47.000000
                  Tied          7.333333
                  Won          59.426087
            Home  Lost         41.016667
                  No Result    48.000000
                  Tied         72.000000
                  Won          52.719512
Test        Away  Drawn        69.538462
                  Lost         37.463415
                  Won          80.680000
            Home  Drawn        59.763158
                  Lost         36.285714
                  Won          53.227848
dtype: float64